.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #63aabc;
}

h1 {
  margin: 30px;
  font-family: 'Monoton', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #60204b;
}

p {
  font-size: 2rem;
  color: #60204b;
  font-family: 'Baloo Chettan', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #ed3833;
  text-align: center;
  font-family: 'Baloo Chettan', cursive;

}
